@tailwind base;

@keyframes loadingSpinnerRotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loadingSpinnerFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

svg.loading {
  transform-origin: 50% 50%;
  animation: loadingSpinnerFade 0.2s,
    loadingSpinnerRotate 0.7s steps(12, end) infinite;
}

.xl\:before-h-12:before {
  display: block;
  height: 2rem;
  margin-top: -2rem;
  visibility: hidden;
  content: "";
}

@screen xl {
  .xl\:before-h-12:before {
    display: block;
    height: 3rem;
    margin-top: -3rem;
    visibility: hidden;
    content: "";
  }
}
