/*Huge thanks to @tobiasahlin at http://tobiasahlin.com/spinkit/ */
.spinner {
  /* margin: 100px auto 0;
  width: 70px; */
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 9px;
  height: 9px;
  /* background-color: #333; */
  @apply bg-white;

  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0.4);
  }
  40% {
    transform: scale(0.7);
  }
}
